/* SLIDER*/
#slider-section, .jumbotron {
    border-bottom: 4px solid #494c58;
}

.block-for-slider {
    width: 100%;
    margin: 0 auto;
	margin-top: 110px;
}

#viewport {

    width: 100%;
    position: relative;
    overflow: hidden;
    max-height:450px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    top:-7.9em;

}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%);
    list-style: none;
    display: inline;
    float: left;
    position:relative;
}
.item img{
  width:100%;
  height:100%;
}
.container {
    width: 100%;
    padding:0;
}
/*WRITE MAX HEIGHT FOR SLIDER*/
.item{
   width:100%;
   overflow:hidden;
   max-height:396px;
}

.slide-img {
    width: 100%;
    position:relative;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 2.8em;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 1.1;
    z-index: 12;

}

#next-btn {
    right: 20px;
    color:white;
    width:50px;
    height:50px;
    font-size:2.8em;
    background-color:rgba(0,0,0,0.6);
    line-height:1.1;
    z-index:2;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}
/*TEXT_ON_SLIDER*/


.info-slider {
   width:30em;
  
   background-color:rgba(0,0,0, 0.6);
   border:solid white 2px;
   position: absolute;
   padding:10px;
   /*padding-right:20px;*/
   top:20px;
   left:200px;
   z-index:11;
   color:white;
   text-align:left;
   font-size: 3vh;
}

.info-slider p:first-child{
    font-size: 2em;
    font-weight: 700;
}



/*BOTTOM SLIDER ON IMG*/

.info-slider button{
	margin-top:5px;
	margin-left:30px;
	border:solid white 2px;
    text-decoration: none;
    border-radius:2px;
    font-size:1.1em;
    font-weight:bold;
  
}

.info-slider button:hover{
  box-shadow:4px 4px 6px black;

}